:root {
  --bg-color: #f2edf3;
  --card-bg: #ffffff;
  --accent-pink: #ffb3c1;
  --accent-pink-hover: #ffa2b4;
  --text-main: #222222;
  --text-muted: #919191;
}

body {}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}